@import url('https://fonts.googleapis.com/css?family=Chilanka|Modak&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: 'Chilanka', cursive;
}

h1 {
  font-family: 'Modak', cursive;
  font-size: 50px;
  font-weight: normal;
  color: #017ed2;
}

.smurf-form {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 500px;
  border: 2px solid #017ed2;
  border-radius: 20px;
  margin: 10px auto;
  padding: 10px 1%;
}

.smurfs-wrapper {
  padding: 10px 1%;
  display: flex;
  flex-wrap: wrap;
}

.smurf-card {
  border: 2px solid #017ed2;
  border-radius: 20px;
  width: 300px;
  padding: 10px 1%;
}